h1 {
	text-align: center;
	color: cornflowerblue;
}

body {
	font-family: Arial Black;
	background-color: lightblue;
}

span {
	margin-right: 20px;
}

.footer {
	text-align: center;
	font-size: 14px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color:blue;
}

a:hover {
	font-weight: bold;
	color: cornflowerblue;
}