tr:first-child {
	background-color: lightgrey;
}

.center {
	text-align: center;
	width: 100%;
}

.center ul {
	display: inline-block;
	text-align: left;
}

caption {
	font-size: 20px;
	font-weight: bold;
}

#TrackNumHead {
	width: 50px;
}

#TrackTitleHead {
	width: 500px;
}

#TrackLengthHead {
	width: 75px;
}