@import 'https://fonts.googleapis.com/css?family=Dosis|Oswald';

h2 {
	font-family: 'Dosis';
}

h3 {
	font-family: 'Oswald';
}

tr:nth-child(odd) {
	background-color: lightgrey;
}

tr:nth-child(even) {
	background-color: coral;
}

.center {
	text-align: center;
	width: 100%;
}

.center ul {
	display: inline-block;
	text-align: left;
}

ul {
	font-style: italic;
}

caption {
	font-size: 20px;
	font-weight: bold;
}

#TrackNumHead {
	width: 50px;
}

#TrackTitleHead {
	width: 500px;
}

#TrackLengthHead {
	width: 75px;
}