@import 'https://fonts.googleapis.com/css?family=Sigmar+One';

h1 {
	text-align: center;
	color: cornflowerblue;
	font-family: 'Sigmar One';
}

body {
	font-family: Arial;
	background-color: lightblue;
}

span {
	margin-right: 20px;
}

.footer {
	text-align: center;
	font-size: 14px;
}

a {
	text-decoration: none;
	color:blue;
}

a:link {
	color:blue;
}

a:visited {
	color: midnightblue;
}

a:hover {
	color: cornflowerblue;
	font-weight: bold;
}

a:active {
	color:white;
}