h1 {
	text-align: center;
	color: cornflowerblue;
}

.footer {
	text-align: center;
	font-size: 14px;
}

a {
	text-decoration: none;
	color:blue;
}

.nav-tabs {
	background-color: lightblue;
}

.nav-tabs li a:link {
	color:blue;
}

.nav-tabs li a:visited {
	color: midnightblue;
}

.nav-tabs li a:hover {
	color: cornflowerblue;
	font-weight: bold;
}

.nav-tabs li a:active {
	color:white;
}