@import 'https://fonts.googleapis.com/css?family=Dosis|Oswald';

h2 {
	font-family: 'Dosis';
}

h3 {
	font-family: 'Oswald';
}

#image {
	height: 300px;
	background-image: url("http://streetlightmanifesto.com/wp-content/uploads/2012/03/Streetlight_Manifesto_-_Somewhere_in_the_Between.jpg");
	background-attachment: fix;
	background-repeat: no-repeat;
	background-position: center;
}

tr:first-child {
	background-color: lightgrey;
}

td {
	background-color: coral;
}

.center {
	text-align: center;
	width: 100%;
}

.center ul {
	display: inline-block;
	text-align: left;
}

ul {
	font-style: italic;
}

caption {
	font-size: 20px;
	font-weight: bold;
}

#TrackNumHead {
	width: 50px;
}

#TrackTitleHead {
	width: 500px;
}

#TrackLengthHead {
	width: 75px;
}